body {
    background-color: #F6F1F2;
}
main {
    display: flex;
    justify-content: center;
}
h1 {
    margin: 100px 0 0 600px;
    font-family: 'Staatliches';
    color:#515354 ;
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: normal;
}