


.product-form{
    font-family: sans-serif;
    background-color: white;
    max-width: 100%;
    background-color: #F6F6F6;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);      
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 40px 10px ;   
}

.product-form {
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    
}

.product-image {
    width: 75%;
    height: 500px;
}

.image-placeholder {
    width: 75%;
    height: 450px;
    background-color: #FEE1E8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #FF5A79;
  
}


.form-fields {
    width: 50%;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    white-space: nowrap;
}

input[type="text"], textarea {
    margin-top: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 2px 3px #ccc;

}

#input-text-describtion {
    height: 80px  ;
    resize: none;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

#input-text-Pro_name{
    width: 385px;
}

#input-text-describtion{
    width: 385px;
}

.input-select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 2px 3px #ccc;
    font-size: 16px;
}

.column {
    width: 200px;
}

.form-buttons {
    margin-top: 20px;
    display: flex;  /* ใช้ flexbox เพื่อจัดปุ่ม */
    justify-content: space-between;  /* จัดปุ่มให้เว้นระยะห่างเท่าๆกัน */
    width: 380px;
}

button {
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    border-width: 1px;
    cursor: pointer;
    background-color: #FAD2E1;
    box-shadow: 2px 3px #ccc;
    display: block;
    white-space: nowrap;
    justify-content: center;

}

#editproductFrom,#fromid {
    position: relative; 
}

.cancel-icon-2 {
    position: absolute; 
    top: 20px; 
    right: 50px; 
    cursor: pointer; 
}
.cancel-icon-1{
    position: absolute; 
    top: 20px; 
    right: 50px; 
    cursor: pointer; 
}

form .cancel-icon-1 img ,form .cancel-icon-2 img {
    width: 30px;
    height: auto;
}
